<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SIS104Menu"
        tools:targetApi="31">
        <activity
            android:name=".Graficos.LAB_01.GraficaTortaActivity"
            android:exported="false" />
        <activity
            android:name=".Graficos.LAB_01.LineaGraficaActivity"
            android:exported="false" />
        <activity
            android:name=".Graficos.LAB_01.DadosActivity"
            android:exported="false" />
        <activity
            android:name=".Graficos.Grafico2dActivity"
            android:exported="false" />
        <activity
            android:name=".Graficos.GraficoActivity"
            android:exported="false" />
        <activity
            android:name=".Ejercicios.EstadisticaActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Ejercicios.Ecuacion2dogradoActivity"
            android:exported="false" />
        <activity
            android:name=".Ejercicios.EjercicioActivity"
            android:exported="false" />
        <activity
            android:name=".Examenes.ExamenActivity"
            android:exported="false" />
    </application>

</manifest>