<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- Permisos para el internet -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/Theme.ProyectoKotlin"
        tools:targetApi="31">
        <activity
            android:name=".wsSIS104borrar.WS_SIS104BorrarActivity"
            android:exported="false" />
        <activity
            android:name=".WebService.WebServiceActivity"
            android:exported="false" />
        <!--
             TODO: Before you run your application, you need a Google Maps API key.

             To get one, follow the directions here:

                https://developers.google.com/maps/documentation/android-sdk/get-api-key

             Once you have your API key (it starts with "AIza"), define a new property in your
             project's local.properties file (e.g. MAPS_API_KEY=Aiza...), and replace the
             "YOUR_API_KEY" string in this file with "${MAPS_API_KEY}".
        -->
        <!-- GREGAR CREDENCIAL AQUI -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyA9oE-VoMOHAROJVVD3G2ZQFyui7q5tL9I" />

        <activity
            android:name=".basedatos.MapsActivity"
            android:exported="false"
            android:label="@string/title_activity_maps" />
        <activity
            android:name=".basedatos.RoomActivity"
            android:exported="false" />
        <activity
            android:name=".ejercicios.DivisionModelActivity"
            android:exported="false" />
        <activity
            android:name=".ejercicios.MultiplicacionModelActivity"
            android:exported="false" />
        <activity
            android:name=".ejercicios.SumaModelActivity"
            android:exported="false" />
        <activity
            android:name=".ejercicios.PersonActivity"
            android:exported="false" />
        <activity
            android:name=".examen.Ejercicio4Activity"
            android:exported="false" />
        <activity
            android:name=".examen.Ejercicio3Activity"
            android:exported="false" />
        <activity
            android:name=".examen.Ejercicio2Activity"
            android:exported="false" />
        <activity
            android:name=".examen.Ejercicio1Activity"
            android:exported="false" />
        <activity
            android:name=".ejercicios.CalculadoraActivity"
            android:exported="false" />
        <activity
            android:name=".graficos.BarsleyActivity"
            android:exported="false" />
        <activity
            android:name=".graficos.TrianguloSierpinskiActivity"
            android:exported="false" />
        <activity
            android:name=".graficos.Grafico2DActivity"
            android:exported="false" />
        <activity
            android:name=".ejercicios.ComplejoActivity"
            android:exported="false" />
        <activity
            android:name=".ejercicios.EcuacionActivity"
            android:exported="false" />
        <activity
            android:name=".graficos.GraficosActivity"
            android:exported="false" />
        <activity
            android:name=".examen.ExamenActivity"
            android:exported="false" />
        <activity
            android:name=".ejercicios.EjerciciosActivity"
            android:exported="false" />
        <activity
            android:name=".basedatos.BaseDatosActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>